.create-project-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 20px;
}

.header-row {
  background: url('../assets/Header-bg.png');
  background-size: cover;
  border-radius: 8px 8px 0 0;
}

.form-group label {
  font-weight: bold;
}

.status-text {
  display: flex;
  align-items: center;
}

.text-right {
  text-align: right;
  margin-top: -4rem;
}

button[type="submit"] {
  background-color: #063e89;
  border: none;
  border-radius: 7rem;
}

button[type="submit"]:hover {
  background-color: #063e89;
}

.form-control {
  border-radius: 4px;
  box-shadow: none;
  border-color: #ced4da;
}

.form-control:focus {
  border-color: #1a73e8;
  box-shadow: 0 0 0 0.2rem rgba(26, 115, 232, 0.25);
}

.custom-dropdown-toggle {
  width: 100%;
  text-align: left;
  background-color: white;
  border-color: #ced4da;
}

.custom-dropdown-menu {
  width: 100%;
}

.custom-dropdown .dropdown-menu {
  width: 100%;
}

.create-project-container .form-group {
  width: 100%;
}

@media (max-width: 768px) {
  .create-project-container {
    padding: 1rem;
  }
  
  .header-row {
    background-size: auto; 
  }
  
  .text-right {
    text-align: center; 
    margin-top: -2rem;
  }
  
  button[type="submit"] {
    margin-top: 1rem; 
  }
}

@media (min-width: 768px) {
  .create-project-container {
    flex-direction: row; 
  }
}
